<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Portofolio - Dicky Wahidin</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/resume.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Dicky Wahidin</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Dicky
          <span class="text-info">Wahidin</span>
        </h1>
        <div class="subheading mb-5">
          <p class="h5"><i class="fa fa-home"></i> Jatirangga - Jatisampurna, Bekasi - 17434 · </p>
          <p class="h5"><i class="fa fa-phone"></i> (+62) 822 190 20200 · </p>
          <p class="h5"><a href="mailto:dicky.wahidin@gmail.com">dicky.wahidin@gmail.com . </a> </p class="h5">
        </div>
        <p class="lead mb-5">IT Network Engineer, Fullstack Developer, Desktop Progammer</p>
        <div class="social-icons">
          <a href="#">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">IT Support</h3>
            <div class="subheading mb-3">PT. Autonics Indonesia</div>
            <p>Managing Linux & Windows Server, Managing SQL Server & MySQL Server, Managing Accesspoint & Router, Managing PABX, CCTV & Fingerprint, Managing PC & Laptop</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">October 2015 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">IT Engineer Support</h3>
            <div class="subheading mb-3">www.ahlibedahlaptop.com</div>
            <p>Managing Linux & Windows Server, Managing SQL Server & MySQL Server, Managing Accesspoint & Router, Managing PC & Laptop, Managing Webserver & Programming, Desktop Programming</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">June 2013 - October 2015</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">IT Support</h3>
            <div class="subheading mb-3">PT. Satu Solusi Intermedia Utama</div>
            <p>Maintenance & Troubleshooting Customer's Laptop, PC, Router, Server, Accesspoint. </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2012 - March 2013</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">IT Support</h3>
            <div class="subheading mb-3">PT. Astra Credit Companies</div>
            <p>Managing Linux & Windows Server, Managing SQL Server & MySQL Server, Managing Accesspoint & Router, Managing PC &
            Laptop, Managing Webserver, Desktop Programming</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2010 - March 2012</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Prakarya International'52 Technical High School</h3>
            <div class="subheading mb-3">Information Technology</div>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2007 - May 2010</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons text-dark">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
          <li class="list-inline-item">
            <h3 class="text-muted"><img class="img-fluid" src="img/csharp-logo.png" width="60" height="60" /></h3>
          </li>
          <li class="list-inline-item">
            <h3 class="text-muted"><img class="img-fluid" src="img/vbnet-logo.png" width="60" height="60" /></h3>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-php"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-bootstrap"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Database Server &amp; DML </div>
        <ul class="list-inline dev-icons text-dark">
          <li class="list-inline-item">
            <h3 class="text-muted"><img class="img-fluid" src="img/mysql-logo.png" width="80" height="80" /></h3>
          </li>
          <li class="list-inline-item">
            <h3 class="text-muted"><img class="img-fluid" src="img/mssql-logo.png" width="80" height="80" /></h3>
          </li>
          <li class="list-inline-item">
            <h3 class="text-muted"><img class="img-fluid" src="img/mongodb-logo.png" width="100" height="100" /></h3>
          </li>
          <li class="list-inline-item">
            <h3 class="text-muted"><img class="img-fluid" src="img/postgresql-logo.png" width="100" height="100" /></h3>
          </li>
        </ul>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Web &amp; Blog Programming - PT. Telkom Indonesia - Bandung Branch - Website Competition 2008</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Network Engineer Certification 2009 - Mikrotik Indonesia</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">
    
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>
        <div class="row">
          <div class="col-md-5">
            <div class="card shadow">
              <div class="card-header bg-info">
                <h4 class="p-0 text-light">Ares - Autonics Registration System</h4>
              </div>
              <div class="card-body bg-secondary">
                <a href="#" data-toggle="modal" data-caption="Ares"
                  data-image="img/ares.png" data-target="#img-projects"><img class="img-thumbnail img-prj"  src="img/ares.png"></a>
                <hr>
                <p class="p-0 text-light">Links: <a class="p-0 text-warning" href="http://autonics.co.id/ares">http://autonics.co.id/ares</a></p class="p-0 text-light">
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card shadow">
              <div class="card-header bg-info">
                <h4 class="p-0 text-light">MM Autonics - Locally Instant Messenger</h4>
              </div>
              <div class="card-body bg-secondary">
                <a href="#" data-toggle="modal" data-caption="MM Autonics" data-image="img/mm-autonics.png" data-target="#img-projects"><img
                    class="img-thumbnail img-prj" src="img/mm-autonics.png"></a>
                <hr>
                <p class="p-0 text-light">Links: <a class="p-0 text-warning" href="http://autonics.co.id:8065/">http://autonics.co.id:8065/</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card shadow">
              <div class="card-header bg-info">
                <h4 class="p-0 text-light">SCM-WF48 Firmware Upgrader</h4>
              </div>
              <div class="card-body bg-secondary">
                <a href="#" data-toggle="modal" data-caption="SCM-WF48 Upgrader" data-image="img/scmwf.png"
                  data-target="#img-projects"><img class="img-thumbnail img-prj" src="img/scmwf.png"></a>
                <hr>
                <p class="p-0 text-light">Upgrade Firmware SCM-WF48 GUI</p>
                <p class="p-0 text-light"><a class="p-0 text-warning" href="/files/scmwf.zip">Download Link</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card shadow">
              <div class="card-header bg-info">
                <h4 class="p-0 text-light">Smart Studio Patcher (2017)</h4>
              </div>
              <div class="card-body bg-secondary">
                <a href="#" data-toggle="modal" data-caption="SmartStudio" data-image="img/sspatch.png"
                  data-target="#img-projects"><img class="img-thumbnail img-prj" src="img/sspatch.png"></a>
                <hr>
                <p class="p-0 text-light">Patch for error opening SmartStudio on windows 8/8.1</p>
                <p class="p-0 text-light"><a class="p-0 text-warning" href="/files/sspatcher.zip">Download Link</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card shadow">
              <div class="card-header bg-info">
                <h4 class="p-0 text-light">Autonics Doorprize</h4>
              </div>
              <div class="card-body bg-secondary">
                <a href="#" data-toggle="modal" data-caption="Autonics Doorprize" data-image="img/adp.png"
                  data-target="#img-projects"><img class="img-thumbnail img-prj" src="img/adp.png"></a>
                <hr>
                <p class="p-0 text-light">Randomize number for seminar gift</p>
                <p class="p-0 text-light"><a class="p-0 text-warning" href="/files/adp.zip">Download Link</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

<!-- modal -->
<div class="modal fade" id="img-projects" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
            <img src="" class="img-thumbnail">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- ./modal -->



  </div>
 
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

  <script>
   $('#img-projects').on('shown.bs.modal', function (a, b, c) {
      var clickedImageUrl = a.relatedTarget.childNodes[0].src;
      displayPhotos(clickedImageUrl);
    })

    function displayPhotos(url) {
      $('.modal-body img').attr('src', url);
      $('#img-projects').modal();
    }
  </script>
</body>

</html>
